/* open-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/open-sans-v40-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* open-sans-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/open-sans-v40-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*:focus {
  outline: 2px dashed #00bafc;
  outline-offset: 4px;
}
html {
  height: 100%;
  scroll-behavior: smooth;
}
ul,
ol {
  list-style: none;
}
a {
  display: inline-block;
  text-decoration: none;
}
img {
  object-fit: cover;
  display: flex;
}
body {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
  font-weight: 400px;
  line-height: 24px;
  color: #000;
}

.btn {
  padding: 8px 16px;
  border-radius: 5px;
  background-color: #00bafc;
  color: #ffff;

  &:hover {
    background-color: rgb(0, 186, 252, 0.8);
  }

  &:active {
    background-color: rgb(0, 186, 252, 0.6);
  }
}
.container {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  padding-right: 50px;
}

main {
  flex-grow: 1;
}
h1 {
  margin: 0;
}
/* HEADER START */
.header {
  box-shadow: 0px 4px 20px 0px #0000001a;
}
.header-container {
  display: flex;
  align-items: center;
}

.site-logo {
  display: block;
  margin-right: auto;
}
.site-logo-imge {
}
.sitenav {
}
.sitenav-list {
  display: flex;
}
.sitenav-item {
}
.sitenav-link {
  font-style: 15px;
  line-height: 24px;
  color: #000000;
  padding: 16px;
  border-bottom: 3px solid transparent;
  &:hover {
    border-bottom-color: #191919;
  }
  &:active {
    background-color: rgb(25, 25, 25, 0.7);
    color: #ffff;
    border-bottom-color: transparent;
  }

  &:focus {
    outline-offset: 0px;
  }
}

.header-btn {
  font-weight: 700px;
  font-size: 15px;
}
/* HEADER END */

/*main*/
.hero {
}

.hero-container {
  display: flex;
  justify-content: space-between;
}

.promo-text-vraper {
  width: 470px;
  margin-top: 97px;
  margin-bottom: 97px;
}

.hero-title {
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 39px;
  text-align: left;
}

.hero-description {
  justify-content: center;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  margin-top: 16px;
  margin-bottom: 16px;
}

.hero-btn {
  border-radius: 5px;
}

.hero-vidio {
  margin-top: 80px;
  border-radius: 5px;
}

.images-servis {
  box-shadow: 0px 8px 8px 0px #0000001a;
}

.servis-image {
  display: flex;
  flex-direction: column;
}

.images-iii {
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.servis {
}

.servis-main {
}
.servis-title {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
  margin-top: 56px;
}
.promo-text {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}
.servis-image {
}
.images-iii {
  box-sizing: border-box;
  display: block;
}
.text-ol {
}
.images-servis {
  margin-left: 100px;
}
.text-name {
  margin-left: 100px;
}
.texr-p {
  margin-left: 100px;
}
.top-image {
}

.promo-text {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}

.footer {
  padding-top: 56px;
  padding-bottom: 56px;
  background-color: #191919;
  color: #ffffff;
}
.foooter-social-list {
  display: flex;
}
.footer-container {
  display: flex;
  align-items: flex-start;
}
.footer-info {
  margin-right: 100px;
  width: 320px;
}
.footer-title {
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
}
.footer-nav {
  margin-right: 87px;
}
.footer-nav-link {
  color: #ffffff;
}
.footer-social-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
}
.footer-nav-title {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  line-height: 26px;
  font-size: 20px;
}

.btn-main {
  margin-left: 447px;
  width: 167px;
  height: 40px;
  top: 24px;
  padding: 8px, 16px, 8px, 16px;
  border-radius: 5px;
  gap: 10px;
  margin-bottom: 56px;
}

.section-a {
  display: flex;
  width: 167px;
  height: 40px;
  margin-top: 40px;
  padding: 8px, 16px, 8px, 16px;
  border-radius: 5px;
  gap: 10px;
  margin-left: 461px;
  margin-bottom: 56px;
}

.main-btn {
  margin-top: 40px;
  gap: 10px;
}

.xizma {
  margin-left: 16px;
}

.main-center {
  display: flex;
  flex-direction: column;
}
.first-div {
  margin-left: 100px;
  margin-right: 100px;
}
.second-div {
  margin-left: 270px;
  margin-top: 48px;
}
.center-list {
  display: flex;
  flex-wrap: wrap;
  gap: 70px;
}
.center-hero {
  align-items: center;
}
.center-description {
  margin-left: 150px;
  text-align: center;
  width: 719px;
  height: 48px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.center-item {
  box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.1);
  width: 250px;
  height: 260px;
  margin-top: 8px;
  padding: 24px;
  border-radius: 5px;
  gap: 16px;
  margin-top: 24px;
}
.center-title {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 31px;
  text-align: center;
}
.center-btn-list {
  display: flex;
  text-align: center;
  margin-left: 380px;
  margin-top: 40px;
}
.center-item {
  align-items: center;
}
.center-btn {
  margin-bottom: 56px;
}
.center-link {
  text-decoration: underline;
}
.center-p {
  margin-left: 50px;
  align-items: center;
}
.center-h4 {
  margin-left: 50px;
}
.center-link {
  margin-top: 18px;
  margin-left: 16px;
}
.center-links {
  margin-right: 14px;
}
.center-h4-smm {
  text-align: center;
}

.section-title {
  display: block;
  justify-content: center;
}

.biz-qandak-ishlaymiz {
}

.talaba-img {
  display: flex;
  margin-left: 234px;
}

.top-h2 {
  margin-top: 98px;
  margin-left: 32px;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 8px;
}

.top-div {
  display: flex;
  margin-bottom: 48px;
}

.talaba {
  margin-left: 35px;
}

.top-div2 {
  display: flex;
  margin-bottom: 48px;
  margin-left: 234px;
}

.top-div3 {
  display: flex;
  margin-bottom: 48px;
  margin-left: 234px;
}

.top-h2 {
  margin-top: 83px;
}

.top-div1 {
  display: flex;
  margin-left: 234px;
}

.yechimlar {
  margin-left: 35px;
}

.section-img {
  display: flex;
  justify-content: end;
  margin-left: 32px;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cart {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

.content {
  margin-left: 32px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.card_image {
  margin-left: 32px;
}

.section-btn {
  margin-left: 566px;
  margin-top: 40px;
  margin-bottom: 56px;
}

.footer {
  padding-top: 56px;
  padding-bottom: 56px;
  background-color: #191919;
  color: #ffffff;
}
.foooter-social-list {
  display: flex;
}
.footer-container {
  display: flex;
  align-items: flex-start;
}
.footer-info {
  margin-right: 100px;
  width: 320px;
}
.footer-title {
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
}
.footer-nav {
  margin-right: 87px;
}
.footer-nav-link {
  color: #ffffff;
}
.footer-nav-link:hover {
  color: #00bafc;
}
.footer-nav-link:active {
  color: #00bafc;
  opacity: 0.6;
}
.footer-social-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
}
.footer-nav-title {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  line-height: 26px;
  font-size: 20px;
}
.footer-social-item {
  margin-top: 5px;
}
.footer-social-link:hover {
  color: #00bafc;
}
.footer-social-link:active {
  color: #00bafc;
  opacity: 0.6;
}
.footer-social-link {
  display: flex;
  color: #ffffff;
  gap: 8px;
}
.footer-links {
  margin-top: 16px;
  margin-right: 36px;
}

.title {
  display: flex;
  justify-content: center;
  margin-top: 72px;
  margin-bottom: 16px;
}

.text {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
  margin-top: 56px;
}

.frame {

}

.image-name {
  display: flex;
  margin-left: 280px;
  margin-top: 112px;
}

.card_images {
  margin-left: 280px;
  width: 200px

}

.servis-div {

}

.servis-itm {
  display: flex;
  align-items:center;
  gap: 8px;
}

.cart_text1 {
  margin-bottom: 16px;
}

.top-btn {
  margin-top: 16px;
margin-bottom: 32px;
}

.content-c {
  margin-top: 96px;
}